<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="en">
<head>
    <title>Paredão BBB</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <div class="container">
        <h1>Dash Board</h1>
        <div>
            <h2>Número total de votos</h2>
            <p><span id="generalTotal"></span></p>
            <h2>Por hora:</h2>
            <canvas id="hourlyTotalChart" width="400" height="200"></canvas>
            <h2>Por participante</h2>
            <canvas id="chartbyParticipant" width="400" height="200"></canvas>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
