<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="en">
<head>
    <title>Paredão BBB</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Dash Board</h1>
        <div>
            <p>Número total de votos: <span id="total-voters-number"></span></p>
            <p>Por hora:</p>
            <canvas id="hourlyTotalChart" width="400" height="200"></canvas>
        </div>
    </div>
    <script
      src="/static/check_captcha.js"
      type="text/javascript"
    ></script>
</body>
</html>
