<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="en">
  <head>
    <title>Paredão BBB</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Clique para votar</h1>
      <div>
        <div id="participants-buttons"></div>
        <input type="checkbox" id="captcha" name="captcha" />
        <label for="captcha">Eu não sou robô</label>
      </div>
    </div>
    <script src="/static/commons.js" type="text/javascript"></script>
    <script src="/static/index.js" type="text/javascript"></script>
  </body>
</html>
