<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR" xml:lang="en">
<head>
    <title>Paredão BBB</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Clique para votar</h1>
        <div>
            {{range .}}
            <form action="/votes" method="POST">
                <input type="hidden" name="id" value="{{.ParticipantID}}">
                <button type="submit" class="participant-button">
                    {{.Name}}
                </button>
            </form>
            {{else}}
            <p class="no-participants">No participants found</p>
            {{end}}
        </div>
    </div>
</body>
</html>
